#header {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 4px solid black;
}

.logo {
  font-size: 3em;
  color: inherit;
  text-decoration: none;
}

#main {
}

a {
  color: #0000FF;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

label.fieldWithErrors {
  color: red;
}

select.fieldWithErrors, textarea.fieldWithErrors, input.fieldWithErrors {
  background: #FBE3E4;
  border-color: red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

form > p {
  margin: 0;
  margin-bottom: 0.5em;
  text-indent: 0em;
}

label {
  display: block;
}

select {
  margin: 0.5em 0.5em 0.5em 0;
  padding: 3px;
}

input.text, textarea {
  margin: 0.5em 0.5em 0.5em 0;
}

.editable div {
  float: left;
  padding-top: 3px;
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 2px;
}

.editable.hover div {
  padding-left: 5px;
  background: yellow;
}

.click_to_edit {
  font-style: italic;
}

.editbox {
  float: left;
}

.options {
  float: left;
  margin-top: 0.8em;
}
